{{ ansible_managed | comment }}

# How often to log the current state in seconds
INTERVAL="{{ atop_log_interval | default(600) }}"

# Directory where to write logfiles
LOGPATH="{{ atop_log_dir | default('/var/log/atop') }}"

# Name of daily log file
OUTFILE="$LOGPATH/daily.log"
