# {{ ansible_managed }}


# How often to log the current state in seconds
INTERVAL="{{ atop_log_interval }}"

# Directory where to write logfiles
LOGPATH="{{ atop_log_dir }}"

# Name of daily log file
OUTFILE="$LOGPATH/daily.log"
